<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/logout">
        Logout
      </a>
    </div>
  </div>
</nav>
 <div class="container">
      <div class="row">
        <div class="col-md-4">
          <form action="/members" id="search-form">
            <div class="form-group">
              <label for="song-search-input">Enter track title</label>
              <input
                id="song-search-input"
                class="form-control"
                name="song"
                type="text"
              />
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block">
                Search
              </button>
            </div>
          </form>
          <div id="search-results"></div>
        </div>
        <div class="col-md-8">
          <div id="spotify-embed"></div>
		  <div>
			  <p id="lyrics">hello</p>
		  </div>
        </div>
      </div>
    </div>
<div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2>Welcome <span class="member-name"></span></h2>
      </div>
      
    </div>
</div>
<div class="card" style="width: 18rem;">
  <div class="card-body"></div>
  <div id="spotify-embed"></div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/members.js"></script>
