form.signup {
  margin-top: 50px;
};
form.login {
  margin-top: 50px;
}

html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 990px) {
  html,
  body,
  header,
  .view {
    height: 100%;
    background: #78909c;
  }
}


#main-text {
  letter-spacing: 3px;
  color: #fff;
  font-weight: strong;
}

.hr-light {
  border-top: 3px solid #fff;
}