form.signup {
  margin-top: 50px;
};
form.login {
  margin-top: 50px;
}

#section1 {
  height: 400px;
}

#section2 {
  height: 200px;
  padding-top: 150px;
  padding-bottom: 500px;
  text-align: center;
  line-height: 10rem;
}

body{
  background-color: rgb(31, 30, 37);
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.background {
  background-image: url('../images/concert.jpeg');
  min-height: 100vh;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.lights-bg {
  background-image: url('../images/lights.jpg');
  min-height: 100vh;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.lights-bg h3 {
  color: rgb(119, 112, 184);
}

.lights-bg a {
  color: rgb(119, 112, 184);
  text-align: center;
}

.record-bg {
  background-image: url('../images/band.jpg');
  min-height: 100vh;
  height: 100%;
  width: 100%;
  padding-top: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.member {
  background-image: url('../images/spinners.jpg');
  min-height: 100vh;
  height: 100%;
  background-position: center;
  background-repeat: repeat-y;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}

#login-page {
  background-image: url('../images/music.jpg');
  height: 800px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 100vh;
}

#intro-button {
  border:1px solid gray;
  background: beige;
  border-radius: 0;
  color:white;
 
}
.intro-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.intro-text h1 {
  color: white;
}
.intro p {
  color: white;
  font-size: 1.3rem;
  line-height: 1.5;
}

.intro-text a {
  color: white;
  font-size: 1.3rem;
}

#signup h2 {
  color:white;
}

#signup {
  color:white;
}
#signup h2 {
  color:white;
}

#login h2 {
  color:white;
}

#login {
  color:white;
}

#member h2 {
  color: white;
  text-shadow: 3px 3px 3px rgb(7, 20, 26);
}

#member {
  color: white;
}
#delete-button {
  background-color: rgb(63, 52, 126);
  color: white;
}
#saved-songs h1 {
  color:white;
}

#saved-songs h3 {
  color:black;
}

.background-top {
  background-image: url('../images/lights.jpg');
  background-color: #cccccc;
  height: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
